<h1> Home Deluxe Application </h1>

<br></br>

<p> Welcome to the Home Deluxe Application! Register as a new user in order to browse for the best deals on home products. </p>

<%= "Need to register?" %> <%= link_to 'Sign Up', signup_path %>
<br></br>
<%= "Already have an account?" %> <%= link_to 'Log In', login_path %>
<br></br>